@media screen and (max-width: 1300px){
    /* Top section */
    .top-section{
        height: 80vh;
    }
    .top-section .logo{
        font-size: 120px;
    }
    .top-section .name h1{
        font-size: 50px;
    }
    /* Menu */

    .menu nav{
        display: none;
        margin-top:0;
        justify-content: center;
        align-content: center;
        background-color:white;
        /* top:5; */
        width: 100%;
        border-top: 2px solid rgb(238, 233, 233);
        text-align: center;
        margin-top:10px;
    }
    .menu nav ul{
        flex-direction: column;
        float:right;
        justify-content: center;
        align-content: center;
    }
    .menu nav ul li{
        margin-top:40px;
        margin-left:0;
    }
    .menu .menu-icon{
        display: inline-block;
    }
    
    /* About us */
    .about-us .about-h1{
        font-size: 30px;
    }
    .about-us iframe{
        height:40%;
        width: 100%;
    }
    /* Our services */
  
    .our-services h1{
        font-size: 20px;
    }
    .our-services .what-we{
        font-size: 30px;
    }
    .our-services p{
        padding: 0 40px;
    }

    /* Our work */
    .our-work h2{
        font-size: 30px;
    }
    .our-work .list p{
        margin-right: 20px;
    }
    .our-work .gallery img{
        width:45%;
        height:250px;
        margin-right:15px;
    }
    .our-work .gallery #lost{
        display: none;
    }

    /* Newsletter */
    .newsletter{
        flex-direction: column;
    }
    .newsletter form{
        margin: auto;
    }

    /*  Key features*/
    .key-features h1{
        font-size: 30px;
    }
    .key-features .feature-text{
        font-size: 27px;
    }

    /* Our clients */
    .our-client{
        padding: 15px 9%;
    }
    .our-client h2, .our-client .text{
        font-size: 25px;
    }
    .our-client .border{
        margin-top:10px;
    }
    .our-client .text{
        font-size: 25px
    }
    .our-client .recommend{
        font-size: 15px;
    }

    /* The Crew */
    .crews h2, .crews .text{
        font-size: 20px;
    }
    .crew{
        grid-template-columns: 1fr 4fr 20px;
    }
    .crew img{
        height: 250px;
    }
    .crew .name,{
        font-size: 35px;
    }
    .crew .role{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .crew .content p{
        font-size: 15px;
        line-height:15px;
    }
    /* Get in touch */
    footer{
        padding: 30px 0;
    }
    footer h2{
        font-size: 30px;
    }
    footer .in-touch{
        font-size: 30px;
    }
    .contacts .contact .icon{
        font-size: 30px;
    }
    .footer-icon a{
        font-size: 20px;
    }
}

@media screen and (max-width: 970px){

    /* About us */
  
    .about-us h1{
        margin-bottom: 2px;
        color: green;
    }
    .about-us p{
        line-height: 20px;
    }
    .services{
        grid-template-columns: 1fr;
    }
    /* The crew */
    .crews{
        padding: 70px 5%;
    }
    .crew{
        grid-template-columns: 1fr 3fr 
    }
    .crew .icon{
        margin-right:30px;
    }
    .crew .icon a{
        margin-right:40px;
    }
}
@media screen and (max-width: 750px){


    /* Top section */
    .text-section{
        padding-top:40%;
    }
    .text-section .logo{
        font-size: 70px;
    }
    .text-section .name h1{
        font-size: 30px;
    }
    .text-section .photo{
        font-size: 25px;
    }
    .text-section .love{
        font-size: 30px;
        letter-spacing: 5px;
    }
    .text-section a{
        padding: 10px 20px;
    }
    .red-border{
        width:20%;
    }


    /* about-us*/
    .about-us #about{
        font-size: 30px;
    }
    .about-us .about-h1{
        font-size: 20px;
    }
    .about-us p{
        font-size: 13px;
    }

    /* our-services */
    .our-services h1{
        font-size: 15px;
    }
    .our-services .what-we{
        font-size: 20px;
    }
    .our-services p{
        font-size: 13px;
    }
    /* Services */
    .services{
        grid-template-columns: 1fr;
    }
    .services .text h2{
        font-size: 15px;
    }
    .services .text p{
        font-size: 13px;
    }
    .service .icon{
        font-size: 30px;
    }
    /* our-work */
    .our-work{
        padding: 50px 0;
    }
    .our-work h2{
       font-size: 20px;
    }
    .our-work .list{
        display: none;
    }
    .our-work .gallery img{
        width: 40%;
        height: 130px;
    }
    /* newsletter */
    .newsletter{
        padding:20px 10px;
    }
    .newsletter .text h2{
        font-size: 20px;
    }
    /* key features */
    .key-features{
        padding: 40px 10px;
    }
    .key-features h1{
        font-size: 23px;
    }
    .key-features .feature-text{
        font-size: 17px;
    }
    .feature{
        margin-bottom: 30px;
    }
    .feature h2{
        font-size: 15px;
    }
    .feature p{
        font-size: 13px;
    }
    .feature .icon{
        font-size: 30px;
    }

    /* our client */
    .our-client h2{
        font-size: 15px;
    }
    .our-client .text{
        font-size: 15px;
    }
    .our-client .border{
        margin-bottom: 20px;
    }
    .our-client .recommend{
        font-size: 13px;
    }
    .our-client img{
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }
    .our-client a{
        font-size: 12px;
    }
    /* the crew */
    .crews{
        padding: 40px 2%;
    }
    .crews .text{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .crew{
        grid-template-columns: 1fr;
    }
    .crew img{
        width: 90%;
    }
    .crew .name{
        font-size: 30px;
    }
    .crew .content p{
        font-size: 13px;
    }

    /* footer */
    footer h2{
        font-size: 30px;
    }
    footer .in-touch{
        font-size: 20px;
    }
    footer .contacts{
       grid-template-columns: 1fr;
    }
    .contacts .contact .icon{
        font-size: 20px;
    }
    .contacts .contact .text p{
        font-size: 14px;
    }
    .footer-text {
        margin-top:10px;
    }
    .footer-text p{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .text-section .logo{
        font-size: 50px;
    }
    .text-section .name h1{
        font-size: 25px;
    }
    .text-section .photo{
        font-size: 20px;
    }
    .text-section .love{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .text-section a{
        padding: 7px 16px;
    }
}